<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was creates by Cristofer Gourtzelis. IT uses data from mapbox and weatherstack </p>
    <img class="portrait" src="/img/mountain.jpg">
    {{>footer}}
</body>

</html>